.burger {
  --width: 24px;
  --height: 12px;
  --color: #fff;
  --size: 2px;
  position: relative;
  width: var(--width);
  height: var(--height);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--size);
  background-color: var(--color);
  transform: translateY(-50%);
  transition: transform 0.3s;
}

.burger:before,
.burger:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--size);
  background-color: var(--color);
  transition: transform 0.3s, top 0.3s;
}

.burger:before {
  top: 0;
}

.burger:after {
  top: calc(100% - var(--size));
}

.burger_active .burger__line {
  transform: scale(0);
}

.burger_active::before {
  transform: rotate(45deg);
  top: 50%;
}

.burger_active::after {
  transform: rotate(-45deg);
  top: 50%;
}